.c-video{
    width: 70%;
    height: 100%;
    
    margin: 0 auto;
  
}
.c-video video{
    max-height: 580px;
    width: 100%;
}
.video {
    width: 100%;
}

.controls{
    display: flex;
    position: absolute;
    left: 0;
    bottom: 0;
    flex-wrap: wrap;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
}
.buttons{
    padding: 8px;
}
.buttons button{
    background: none;
    border: 0;
    outline: 0;
    cursor: pointer;
}
.buttons button:before{
    display:inline-block;
    width: 30px;
    height: 30px;
   content: url('../custom/play_button_2k.png');
}
.buttons button.play:before{
    content: url('../custom/play_button_2k.png');
}
.buttons button.pause:before{
    content: url('../custom/pause_button_2k.png');
}
.orange-bar{
    height: 10px;
    top:0;
    left:0;
    width: 100%;
    cursor: pointer;
}
.orange-juice{
    height: 10px;
    width: 10px;
    background-color: #504e73;
}
.orange-juice:hover{
    background-color: #454369;
}