{% extends 'base.html' %}
{% load static %}
{% block css_load %}
{% endblock %}
{% block page_title %}Create Ozzy Service{% endblock %}
{% block article_heading %}{% endblock %}
{% block article_briefing %}{% endblock %}
{% block body %}
<form action="" method="POST" class="mt-5 pt-5 mb-5 pb-5">
    {% csrf_token %}
    <div id="header-dashed">
        <p>{{form.media}}</p>
        <h2>{{form.title}}</h2>
    </div>
    <div id="description-box">
        <p>{{form.description}}</p>
    </div>
<button class='btn btn-success' type="submit">Save</button>
</form>
{% endblock %}