{% for x in menu %}
<li class="my-list-item"><a  class="super-link" href="{% url 'SubServicePage' x.slug %}">{{x.title}}</a></li>
{% endfor %}
<!--<li class="my-list-item"><a  class="super-link" href="#">How to Get to OzzySmile</a></li>
<li class="my-list-item"><a  class="super-link" href="#">Case Record Submission</a></li>i;kul;
<li class="my-list-item"><a  class="super-link" href="#">Diagnosis & Treatment</a></li>
<li class="my-list-item"><a  class="super-link" href="#">About OzzySmile</a></li>
<li class="my-list-item"><a  class="super-link" href="#">Four Easy Steps</a></li>
<li class="my-list-item"><a  class="super-link" href="#">Acceptable Impression</a></li>-->
