<li class="my-list-item"><a class="link" style="color: black;" href="{% url 'PublicationsPage' %}">Ozzy Publications</a></li>
<li class="my-list-item"><a class="link" style="color: black;" href="{% url 'WhatIsOzzyPage' %}">What Is OzzySmile</a></li>
<li class="my-list-item"><a class="link" style="color: black;" href="{% url 'WhatIsOzzyPage' %}">Doctor's Area</a></li>
<li class="my-list-item"><a class="link" style="color: black;" href="{% url 'WhatIsOzzyPage' %}">Ozzy Services</a></li>
<li class="my-list-item"><a class="link" style="color: black;" href="{% url 'WhatIsOzzyPage' %}">Sample Cases</a></li>
<li class="my-list-item"><a class="link" style="color: black;" href="{% url 'WhatIsOzzyPage' %}">Doctor's Testimonials</a></li>
<li class="my-list-item"><a class="link" style="color: black;" href="{% url 'WhatIsOzzyPage' %}">FAQ</a></li>
<li class="my-list-item"><a class="link" style="color: black;" href="{% url 'WhatIsOzzyPage' %}">Contact Us</a></li>
