<li class="my-list-item"><a  class="super-link" href="#">Why Choose OzzySmile</a></li>
<li class="my-list-item"><a  class="super-link" href="#">How Does It Works</a></li>
<li class="my-list-item"><a  class="super-link" href="#">Is It Right For You</a></li>
<li class="my-list-item"><a  class="super-link" href="#">Patient Care Instruction</a></li>
<li class="my-list-item"><a  class="super-link" href="#">OzzySmile Advantages</a></li>
<li class="my-list-item"><a  class="super-link" href="#">Tell Your Doctor About OzzySmile</a></li>